html {
	font-family: 'roboto', sans-serif;
	text-transform: uppercase;
}

body {
	background-color: #53a0cc;
	color: #F2F3F4;
}

h1 {
	padding-top: 15px;
}

a {
	color: white !important;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button,#auto,#follow {
	background-color: #283593;
	border: none;
	color: white;
	padding: 10px 15px;
	text-align: center;
	font-size: 16px;
	font-weight: 350;
	text-decoration: none;
	display: inline-block;
	text-transform: uppercase;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	height: 70px;
	width: 160px;
}

.nav {
	padding: 10px 10px;
	background-color:rgba(0,0,0,0);
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	height: 60px;
	width: 60px;
	color: #88d1ff;
}
#left {
margin-right: 30px;
}

#right {
margin-left: 30px;
}

.icon {
	display: inline-block;
	width: 0.2em;
	height: 0.2em;
	stroke-width: 0;
	stroke: currentColor;
	fill: currentColor;
	font-size: 250px;

}

.icon-chevron-right {
	width: 30px;
	height:30px;
}

.icon-chevron-left {
	width: 30px;
	height:30px;
}

.icon-chevron-up {
	width: 30px;
	height:30px;
	margin-bottom: 30px;
}

.icon-chevron-down {
	margin-top: 20px;
	margin-bottom: 20px;
	width: 30px;
	height:30px;
}

#logo {
	padding-bottom: 10px;
	color: green;
}

#temperature, #distance, #humidity {
	color: pink;
	line-height: 40px;
}
